importFrom(stats, reorder)  # reorder exists for factor
import(tsp)

export(
    arrange,
    bea, 
    criterion, 
    hclust_greedy, 
    pimage, 
    cluproxplot
    )


S3method(arrange, dist)

S3method(criterion, matrix)
S3method(criterion, dist)

S3method(reorder, hclust)
S3method(reorder, matrix)
S3method(reorder, dist)

S3method(pimage, matrix)
S3method(pimage, dist)

S3method(print,cluster_proximity_matrix)
S3method(plot,cluster_proximity_matrix)


useDynLib(seriation)
