importFrom(stats, reorder)

export(criterion, image_proper, order_greedy)

S3method(reorder, hclust)
S3method(reorder, matrix)
S3method(reorder, dist)

S3method(image_proper, matrix)
S3method(image_proper, dist)

useDynLib(seriation)
