importFrom(stats, reorder)  # reorder exists for factor
import(TSP)

export(
    arrange,
    criterion, 
    bertinplot,
    pimage, 
    dissplot,
    hmap,
    reorder.hclust      # this is just so we win over gclus
    )


S3method(arrange, dist)

S3method(criterion, matrix)
S3method(criterion, dist)

S3method(reorder, hclust)
S3method(reorder, matrix)
S3method(reorder, dist)

S3method(pimage, matrix)
S3method(pimage, dist)

S3method(print,cluster_dissimilarity_matrix)
S3method(plot,cluster_dissimilarity_matrix)


useDynLib(seriation)
