
export(
    bertinplot,
    criterion, 
    dissplot,
    get_method,
    get_order,
    hmap,
    panel.bars, 
    panel.circles, 
    panel.squares, 
    panel.lines,
    permute,
    ser_permutation,
    ser_permutation_vector,
    pimage, 
    seriate
    )

S3method("c", "ser_permutation")
S3method("[", "ser_permutation")

S3method(criterion, matrix)
S3method(criterion, dist)

S3method(get_order, integer)
S3method(get_order, hclust)
S3method(get_order, ser_permutation)

S3method(length, ser_permutation_vector)
# ser_permutations gets length from list

S3method(pimage, matrix)
S3method(pimage, dist)

S3method(plot,cluster_dissimilarity_matrix)

S3method(print, ser_permutation_vector)
S3method(print, ser_permutation)
S3method(print,cluster_dissimilarity_matrix)

S3method(permute, array)
S3method(permute, matrix)
S3method(permute, numeric)
S3method(permute, list)
S3method(permute, dist)

S3method(seriate, matrix)
S3method(seriate, dist)

useDynLib(seriation)
