useDynLib(arules)

# Generics and functions defined in this package
import(Matrix)
export("rapriori", "reclat")
exportClasses("arMatrix","itemsets","rules","hyperedges","sets","arules","ASappearance","APparameter","APcontrol",
	"summary.sets", "summary.rules",
	"attributes","ECparameter","ECcontrol",
	"ASparameter","AScontrol", ".parameter")
exportMethods("show", "summary", "[", "subset", "as.character", "as.data.frame", "%in%", "as.list")

